body {
    font-family: comic sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
}

.fondo {
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    padding-right: 70%;
}

div {
    border: 5px solid black;
    border-radius: 20px;
    margin: 20px;
}

/* Banner */
/* Banner */
.banner {
    background-image: url('/images/plantas/fondo.jpg');
    background-size: 50%; /* Reducir el tamaño de la imagen al 50% */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen */
    background-position: right; /* Centrar la imagen */
    background-color: #d3d3d3; /* Color gris para rellenar el espacio vacío */
    height: 300px; /* Mantener la altura del banner */
    display: flex;
    justify-content: flex-start; /* Alinea el contenido al principio (izquierda) */
    align-items: center; /* Centra el texto verticalmente */
    padding-left: 20px; /* Espacio a la izquierda */
    color: white; /* Color del texto */
}

.banner-titulo h1 {
    font-size: 70px;
    color: black;
    margin: 0;
}

.banner-titulo p {
    font-size: 18px;
    color: black;
    font-weight: lighter;
}

.banner-titulo{
    border: none;
}

/* Contenedor de la imagen y el texto */
.contenedor-imagen-texto {
    display: flex;
    align-items: center; /* Alinea la imagen y el texto verticalmente */
    justify-content: start; /* Alinea los elementos al principio */
    margin-bottom: 20px; /* Espacio entre los contenedores si hay más de uno */
    background-color: aliceblue;
}

.img1 {
    width: 400px;
    height: 400px;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
    padding: 20px;
}

.texto {
    max-width: 500px; /* Limita el tamaño del texto */
    border: none; /* Elimina los bordes */
}

.texto p {
    margin: 5px 0; /* Añade un pequeño margen entre los párrafos */
}

/* Footer */
footer {
    background-color: aqua;
    text-align: center; /* Centra el texto dentro del footer */
    padding: 10px 0;
    border: 5px solid black;
    border-radius: 20px;
    margin: 20px;
}

footer h2 {
    margin: 0;
}

.ftexto{
    border: none;
}
